#footer{
    background-color: rgb(11, 18, 47);
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
//NavBar
.nav-a{
    color: white;
    padding: 0.5rem;
}