#header{
    width: 100%;
    height: 10rem;
    background-color: rgb(11, 18, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header-logo{
    width: 9rem;
    margin: 1rem;
}
#header-icon{
    color: white;
    font-size: 2.5rem;
    margin: 1rem;
}
.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-li{
    padding: 1rem;
    color: white;
    display: flex;

    & a{
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
    }
}

//CardWidget
.cardwidget{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 18, 47);
    border-radius: 100%;
    padding: 1rem;
    margin: 0 2rem;
    transition: 0.3s ease-in-out;

    &:hover{
        background-color: rgb(13, 23, 61);
    }
}
.header-carrito{
    width: 3rem;
}

//Nav
.nav-link{
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

